[submodule "report"]
	path = report
	url = gits@git.innovationacademy.kr:jleem/report.git
[submodule "report-wiki"]
	path = report-wiki
	url = gits@git.innovationacademy.kr:jleem/report.wiki.git
[submodule "42seoul-docs"]
	path = 42seoul-docs
	url = git@github.com:kch79624/42seoul-docs.git
[submodule "projects/Libft"]
	path = projects/Libft
	url = git@github.com:kch79624/42seoul-Libft.git
[submodule "projects/get_next_line"]
	path = projects/get_next_line
	url = git@github.com:kch79624/42seoul-get_next_line.git
[submodule "projects/ft_printf"]
	path = projects/ft_printf
	url = git@github.com:kch79624/42seoul-ft_printf.git
[submodule "projects/miniRT"]
	path = projects/miniRT
	url = git@github.com:kch79624/42seoul-miniRT.git
[submodule "projects/push_swap"]
	path = projects/push_swap
	url = git@github.com:kch79624/42seoul-push_swap.git
[submodule "projects/so_long"]
	path = projects/so_long
	url = git@github.com:kch79624/42seoul-so_long.git
