[submodule "report"]
	path = report
	url = gits@git.innovationacademy.kr:jleem/report.git
[submodule "report-wiki"]
	path = report-wiki
	url = gits@git.innovationacademy.kr:jleem/report.wiki.git
[submodule "42seoul-docs"]
	path = 42seoul-docs
	url = git@github.com:kch79624/42seoul-docs.git
[submodule "projects/miniRT/minilibx-linux"]
	path = projects/miniRT/minilibx-linux
	url = https://github.com/42Paris/minilibx-linux.git
[submodule "projects/miniRT/c-raytracer"]
	path = projects/miniRT/c-raytracer
	url = git@github.com:kch79624/c-raytracer.git
[submodule "projects/miniRT/raytracing_in_one_weekend"]
	path = projects/miniRT/raytracing_in_one_weekend
	url = git@github.com:kch79624/raytracing_in_one_weekend.git
[submodule "projects/Libft"]
	path = projects/Libft
	url = git@github.com:kch79624/42seoul-Libft.git
